<section class="container text-left my-5" style="width: 100%; height: auto;">
  <div class="container text-left">
    <h2 class="text-left mb-4">About Me</h2>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h4>Education</h4>
        <ul>
          <li>
            <strong>B.S. Computer Engineering</strong> - Helwan University, Faculty of Engineering (2020 - 2025)
            <br />Accumulative Grade: Very Good, 83%
          </li>
          <li>
            <strong>High School Diploma</strong> - Mathematics branch, El-Helmia Language School
            <br />Grade: 96%
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4>Experience</h4>
        <ul>
          <li><strong>Backend Internship</strong> - Ejada Systems Ltd (Jun - Aug 2024)</li>
          <li><strong>Frontend Web Development</strong> - ITI Certificate (Jul - Aug 2023)</li>
          <li><strong>Mobile App Development</strong> - ITI Certificate (Sep - Oct 2022)</li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-4">
      <a href="assets/Rehab_Mohamed_CV.pdf" class="btn btn-primary contact-btn" download>Download CV</a>
    </div>
  </div>
</section>
