<section class="container text-left my-5" style="width: 100%; height: 100%; 
background-color: #2e2e2e; color: white; padding: 20px;
border-radius: 10px;
">

  <div class="container">
    <h2 class="text-center mb-4" style="color: white;">Skills</h2>
    <p class="text-center mb-4" style="max-width: 600px; margin: 0 auto;">
      As a passionate frontend developer, I have honed a diverse skill set that includes a strong foundation in C++, JavaScript, and modern frameworks like Angular and ReactJS. I am proficient in designing dynamic and responsive web applications,  Additionally, I am experienced in backend technologies such as nodejs and Python,

    </p>

    <div class="row">

      <!-- Left side: Focus Areas or Additional Description -->
      <div class="col-md-6" style="padding-left:10%;">
        <h5 class="mb-4">MY FOCUS</h5>
        <ul style="list-style-type: none; padding-left: 0;">
          <li>reactjs</li>
          <li>Responsive Design</li>
          <li>Web Design</li>
          <li>Mobile App Design</li>
        </ul>
      </div>

      <!-- Right side: Skills with progress bars -->
      <div class="col-md-6">
        <h5>C++</h5>
        <div class="progress mb-3">
          <div class="progress-bar " role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>

        <h5>JavaScript</h5>
        <div class="progress mb-3">
          <div class="progress-bar " role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
        </div>

        <h5>Angular</h5>
        <div class="progress mb-3">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>

        <h5>Python</h5>
        <div class="progress mb-3">
          <div class="progress-bar " role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>

        <h5>PHP</h5>
        <div class="progress mb-3">
          <div class="progress-bar " role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
        </div>

        <h5>ReactJS</h5>
        <div class="progress mb-3">
          <div class="progress-bar " role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
      </div>
    </div>
  </div>
</section>
